
*.pid
chrome_profile/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


/.vs
bert/
logs/
ffmpeg/
*.zip
bak/
pretrained_models/
custom_character_voice/
test.ipynb
records/
*.wav
*.npy
OUTPUT_MODEL/
configs/config.json
*.bat

*.pem

test*.js
test*.py

*.wav
*.npy
*.mp3
*.mp4
*.jpg
*.pt

*.log
*.swp
*.yaml
tmp/
models/data.txt